.education-section h3 {
  margin-bottom: 0.5rem;
}
.education-section-p {
  font-size: 0.8rem;
  height: auto;
}
.as-education-container {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}
.as-education-container h3 {
  font-size: 1rem;
}
.education-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0 1rem;
  background: linear-gradient(
    167deg,
    #ffffff54 0%,
    #ebe4c1 48%,
    rgb(255 255 255) 100%
  );
}
.as-education-card,
.tut-education-card {
  height: auto;
  margin-bottom: 1rem;
  padding: 0.1rem;
  border-radius: 0.5rem;
  font-weight: 700;
  box-shadow: 0 0.5rem 1rem rgb(202 197 169);
  background: linear-gradient(
    161deg,
    #e9eaecd6 0%,
    #ffffff 48%,
    rgb(255 255 255 / 66%) 100%
  );
}
.as-education,
.tut-education {
  font-size: 2rem;
  line-height: 1.5rem;
  margin: 0.8rem 0;
}
.tut-education {
  margin: -3px 0.8rem 0;
  line-height: 2rem;
}

.education-section h3:after {
  content: "";
  display: block;
  border-bottom: 2px #ddc026 inset;
  margin-bottom: 0;
  width: 70vw;
}
.education-section-p {
  margin-top: 0.5rem;
}
.as-education-card-body,
.tut-education-card-body {
  text-align: center;
  padding: 0.8rem 1.3rem 1.3rem;
  background: rgba(202, 200, 186, 0.265);
  border-radius: 0.5rem;
}
.as-education-text,
.tut-education-text {
  color: #5a5252;
  font-weight: normal;
  font-size: small;
  margin-top: 1rem;
}
.education-btn,
.tut-education-btn {
  padding: 0.8rem 2rem;
}
.square {
  width: 100vw;
  border-radius: 0.5rem;
}
.get-results-text {
  margin: 1rem 0 0 0;
  text-align: center;
}
.get-results-span {
  font-weight: 800;
  color: black;
  font-size: 1.2rem;
  line-height: 1.3rem;
}
.parallax {
  background-image: url("../assets/images/gold-graph.jpg");
  min-height: 200px;
  background-attachment: local;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 0rem #ffffffc2 solid;
  display: flex;
  align-items: flex-end;
}
.assessment,
.tutorial {
  width: 7rem;
}

@media screen and (min-width: 375px) {
  .education-section-p,
  .as-education-text,
  .tut-education-text {
    font-size: 1rem;
  }
  .education-section-p {
    padding: 0 17px;
  }
}

@media screen and (min-width: 414px) {
  .as-education-section-p {
    padding: 0 0.3rem;
  }
  .as-education-text {
    padding: 0 17px;
  }
  .education-section-p {
    padding: 0 23px;
    font-size: 16.5px;
  }
  .emp-search-text {
    padding: 0 1.7rem;
  }
  .tut-education-text {
    padding: 1rem;
  }
}

@media screen and (min-width: 600px) {
  .as-education-card-body,
  .tut-education-card-body {
    padding: 1rem 2.5rem;
  }
  .education-section h3 {
    font-size: 3rem;
    margin-bottom: 1rem;
  }
  .education-section-p {
    font-size: 1rem;
    margin-top: 0.2rem;
    letter-spacing: -.5px;
  }
  .assessment-title-container,
  .tutorial-title-container {
    display: flex;
    align-items: center;
  }
  .as-education,
  .tut-education {
    font-size: 39px;
    line-height: 2.2rem;
    margin: 0.8rem 0 0 1rem;
    text-align: left;
  }
}

@media screen and (min-width: 768px) {
  .as-education-container {
    align-items: center;
  }
  .as-education-card,
  .tut-education-card {
    width: 82vw;
  }
  .as-education-card-body,
  .tut-education-card-body {
    padding: 2rem 19px;
  }
  .education-section-p {
    letter-spacing: 0;
  }
  .education-section h3:after {
    width: 70vw;
    border-bottom: 2px #917e5d inset;
  }
  .education-section h3 {
    font-size: 4rem;
    margin-top: 27px;
  }
  .get-results-span {
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.7rem;
  }
  .parallax {
    min-height: 300px;
  }
  .as-education-text,
  .tut-education-text {
    font-size: 1rem;
  }
  .hire-talent-text,
  .get-prepared-text {
    font-size: 1rem;
  }

  .as-education,
  .tut-education {
    font-size: 55px;
    line-height: 3.2rem;
  }
}

@media screen and (min-width: 1024px) {
  .as-education-container {
    justify-content: center;
    margin-bottom: 2rem;
  }
  .as-education,
  .tut-education {
    text-align: left;
    font-size: 3.5rem;
    line-height: 3rem;
  }
  .as-education-card-body,
  .tut-education-card-body {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .tut-education-card-body {
    padding: 2rem;
  }
  .education-section h3 {
    font-size: 4rem;
  }
  .education-section-p {
    font-size: 1.1rem;
    margin-top: 0.2rem;
    padding: 0 7rem;
  }
  .get-results-text {
    padding-top: 2rem;
    font-size: 5rem;
  }
  .parallax {
    background-image: url("../assets/images/gold-graph.jpg");
    background-attachment: fixed;
    min-height: 400px;
    background-attachment: fixed;
  }
}

@media screen and (min-width: 1100px) {
  .as-education-card,
  .tut-education-card {
    margin-right: 1rem;
  }
  .education-section h3:after {
    width: 54vw;
  }
  .as-education-card-body {
    padding: 2.8rem 19px;
  }
  .tut-education-text {
    margin-top: 27px;
  }
  .tutorial-title-container {
    margin-top: 22px;
    margin-bottom: -21px;
  }
}
@media screen and (min-width: 1171px) {
  .as-education-container {
    flex-direction: row;
  }

  .as-education-card,
  .tut-education-card {
    max-width: 537px;
    height: 22rem;
  }
  .tut-education-card-body {
    padding: 1rem 2.5rem 3rem 0rem;
  }
  .education-section h3:after {
    width: 54vw;
  }
  .as-education-card-body {
    padding: 2.8rem 19px;
  }
  .tut-education-btn {
    margin-bottom: 3rem;
  }
}
